.align-text-right {
    text-align: right;
}

.seperator {
    padding: 0px 10px;
}

@font-face {
    font-family: Allerta;
    /* src: url('../assets/fonts/Allerta-Regular.ttf') format("truetype"); */
    src: url('../fonts/Allerta-Regular.ttf') format("truetype");
}

@font-face {
    font-family: ABeeZee;
    src: url('../fonts/ABeeZee-Regular.ttf') format("truetype");
}

.margin-top-100px {
    margin-top: 100px;
}