<v-app>
    <v-content>
        <Start v-if="!isPageLoaded || !activeDbName"></Start>
        <v-container fluid>
            <Menu></Menu>
            <div class="secondary" style="border-top:5px solid #777adb;width: 100%;"></div>
            <v-layout row v-if="activeDbName" id="divMain">
                <v-flex sm3>
                    <DbInfo></DbInfo>
                </v-flex>
                <v-flex sm9 id="divQueryExecutorContainer">
                    <QueryExecutor></QueryExecutor>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</v-app>