<div>
    <v-layout row>
        <v-flex offset-sm1 sm10>
            <v-select :items="dbNames" v-model="selectedDb" label="--Select Database--" class="mb-3 db-list"
                @change.native="onDbChange">
            </v-select>
        </v-flex>
    </v-layout>
    <v-layout row style="max-height:500px; overflow: auto;">
        <v-flex sm12>
            <p class="align-text-center">
                Database Schema
            </p>
            <v-expansion-panel>
                <v-expansion-panel-content v-for="table in dbInfo.tables" :key="table.name">
                    <template v-slot:header>
                        <div @contextmenu.prevent="$refs.ctxMenu.open($event, {table: table.name})">{{table.name}}</div>
                    </template>
                    <v-expansion-panel class="ml-4">
                        <v-expansion-panel-content v-for="column in table.columns" class="column-name"
                            :key="table.name+column.name">
                            <template v-slot:header>
                                <div>{{column.name}}</div>
                            </template>
                            <div class="margin-left-50px">
                                <div>Primary Key :
                                    <span class="column-schema">{{column.primaryKey}}</span>
                                </div>
                                <div>Auto Increment :
                                    <span class="column-schema">{{column.autoIncrement}}</span>
                                </div>
                                <div>Not Null:
                                    <span class="column-schema">{{column.notNull}}</span>
                                </div>
                                <div>Data Type :
                                    <span class="column-schema">{{column.dataType}}</span>
                                </div>
                                <div>Default :
                                    <span class="column-schema">{{column.default}}</span>
                                </div>
                                <div>Unique :
                                    <span class="column-schema">{{column.unique}}</span>
                                </div>
                                <div>Multi Entry :
                                    <span class="column-schema">{{column.multiEntry}}</span>
                                </div>
                                <div>Keypath :
                                    <span class="column-schema">{{column.keyPath}}</span>
                                </div>
                                <div>Enable Search :
                                    <span class="column-schema">{{column.enableSearch}}</span>
                                </div>
                            </div>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-flex>
        <context-menu id="context-menu" ref="ctxMenu" @ctx-open="onCtxOpen" @ctx-cancel="onCtxOff">
            <li class="ctx-item" @click="select100">Select 100 Record</li>
            <li class="ctx-item" @click="countTotal">Count Total Record</li>
            <li class="ctx-item" @click="exportJson">Export As Json</li>
        </context-menu>
    </v-layout>
</div>