<div>
    <Start v-if="!isPageLoaded"></Start>
    <div class="container-fluid">
        <div class="row" v-if="isPageLoaded" id="divMain">
            <Menu></Menu>
            <div style="border-top:5px solid #777adb;width: 100%;"></div>
            <div class="col-sm-3">
                <DbInfo v-bind:db="selectedDb"></DbInfo>
            </div>
            <div class="col" id="divQueryExecutorContainer">
                <QueryExecutor></QueryExecutor>
            </div>
        </div>
    </div>
</div>