<div class="start-page">
    <!-- <v-flex xs12 sm5 md3> -->
    <h1 class="title">IDBStudio</h1>
    <div v-if="dbList.length==0" class="cssload-preloader">
        <div class="cssload-preloader-box">
            <div>L</div>
            <div>o</div>
            <div>a</div>
            <div>d</div>
            <div>i</div>
            <div>n</div>
            <div>g</div>
        </div>
    </div>
    <v-layout row class="margin-top-100px" v-if="dbList.length>0">
        <v-flex xs12 sm5 md4 style="margin:0 auto;display:inherit;">
            <div>
                <v-select v-model="selectedDb" :items="dbList" label="--Select Database--" solo></v-select>
            </div>
            <v-btn color="info" @click="connectDb" style="margin-left:50px;padding: 0 30px;">Connect</v-btn>
        </v-flex>
    </v-layout>
    <!-- </v-flex> -->
</div>