<div class="start-page primary">
    <h1 class="title">IDBStudio</h1>
    <div v-if="dbList.length==0" class="loader">
        Loading <i class="fas fa-spin fa-spinner margin-left-10px"></i>
    </div>
    <v-layout row class="margin-top-100px" v-if="dbList.length>0">
        <v-flex xs12 sm5 md4 style="margin:0 auto;display:inherit;">
            <div>
                <v-select v-model="selectedDb" :items="dbList" label="--Select Database--" solo></v-select>
            </div>
            <v-btn color="info" @click="connectDb" style="margin-left:50px;padding: 0 30px;">Connect</v-btn>
        </v-flex>
    </v-layout>
    <p style="color:white;bottom:50px;position: absolute;text-align: center;width: 100%;">
        <span>
            Created with <i class="fas fa-heart" style="color:red"></i> by <a style="color:darkblue;"
                href="https://twitter.com/ujjwal_kr_gupta">Ujjwal Gupta</a>
        </span>
    </p>
</div>